html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-image: url('source/intro_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.btnContainer{
    width: 60%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    gap: 10px;
    margin: 40px;
}

#hidden{
    visibility: hidden;
}

.button{
    width: 31%;

    background-color: white;
    border: 2px solid lightgrey;
    border-radius: 30px;

    padding: 0;
}

button:active{
    background-color: lightgrey;
}

.bText{
    color: rgb(92, 92, 92);
    margin: 16px;
}

hr{
    width: 2%;
    height: 0.5px;
    color: black;
}

h1{
    text-align: center;
    font-weight: normal;
    font-size: x-large;
}

span{
    font-weight: bold;
    font-size: xx-large

}

p{
    text-align: center;
}

.footer{
    font-size: small;
    color: rgb(92, 92, 92);

    margin-top: 100px;
}